body{
    background-color: aquamarine;


}

header {
    background-color: coral;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 45px;
    border-radius: 35px;
}

footer {    
    background-color: coral;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;;
    width: 100%;
    bottom: 0;
}

nav {
    background-color: lightseagreen;
    padding: 15px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-radius: 85px;
}

#menu_home {
    font-weight: bold;
    font-size: 50px;
    background-color: navy;
}